{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}
    <div class="container m-5">
        <a class="btn btn-fb-yellow" href={{ path('contact')}} >Contact</a>
    </div>
{% endblock %}
